name: Build and Push Docker Image with Jib to GHCR

on:
  push:
    branches: [ main ]
    paths:
      - 'src/**'
      - 'build.gradle.kts'
      - 'settings.gradle.kts'
  workflow_dispatch:

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write   # needed for GHCR
      id-token: write

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: '24'

      - name: Set up Gradle
        uses: gradle/actions/setup-gradle@v4

      - name: Set image name
        run: |
          OWNER="${GITHUB_REPOSITORY_OWNER,,}"
          REPO_NAME="$(basename "$GITHUB_REPOSITORY")"
          REPO_NAME="${REPO_NAME,,}"
          echo "IMAGE_NAME=ghcr.io/${OWNER}/${REPO_NAME}" >> $GITHUB_ENV

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push with Jib
        run: |
          ./gradlew jib \
            -Djib.to.image=$IMAGE_NAME \
            -Djib.to.tags=${GITHUB_SHA::7}